html {
    font-size: 1vw; /* Ajuste dinámico de la fuente */
}

.main-head {
    margin: 0 2% 10% 2%;
}

.head-encabezado {
    margin: 1em 0 0 0;
}

#logo {
    padding: 2em;
    display: inline;
    margin: auto;
    
}

.text-logo {
    font-size: 1rem;
    display: inline-block;
}
.backmenu {
    background-color: rgb(0, 113, 65);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0% 1% 0% 1%;
    padding: 1em;
    border-radius: 1em;
}
.boxm {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    flex: 1;
}
.boxm:nth-child(2) {
    flex: 2;
}
